<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="renderer" content="webkit">
        <title>Enter Couple - 登录</title>
        <link rel="icon" href="../static/img/favicon.png">
        <link rel="stylesheet" type="text/css" href="../static/css/font.css">
        <link rel="stylesheet" type="text/css" href="../static/css/animations.css">
        <link rel="stylesheet" type="text/css" href="../static/css/login.css">
        <script src="../static/js/common.js"></script>
        <script src="../static/js/login.js"></script>
    </head>
    <body>
        <div class="frame">
            <div class="login animFadeScaleIn">
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="368" height="417" viewBox="0 0 368 417">
                    <path value="login" d="M10,0l348,0c5.5,0,10,4.5,10,10v397c0,5.5-4.5,10-10,10H10c-5.5,0-10-4.5-10-10L0,10 C0,4.5,4.5,0,10,0z" />
                    <path value="logo" d="M184,50L184,50c22,0,40,18,40,40l0,0c0,22-18,40-40,40l0,0c-22,0-40-18-40-40l0,0 C144,68,162,50,184,50z"/>
                    <path value="zone-name" d="M129,150h110c5.5,0,10,4.5,10,10v4c0,5.5-4.5,10-10,10H129c-5.5,0-10-4.5-10-10v-4 C119,154.5,123.5,150,129,150z"/>
                    <path value="username" d="M97.5,210h173c9.6,0,17.5,7.9,17.5,17.5v0c0,9.6-7.9,17.5-17.5,17.5h-173 c-9.6,0-17.5-7.9-17.5-17.5v0C80,217.9,87.9,210,97.5,210z"/>
                    <path value="password" d="M97.5,255h173c9.6,0,17.5,7.9,17.5,17.5v0c0,9.6-7.9,17.5-17.5,17.5h-173 c-9.6,0-17.5-7.9-17.5-17.5v0C80,262.9,87.9,255,97.5,255z"/>
                    <path value="login-btn" d="M97.5,328h173c9.6,0,17.5,7.9,17.5,17.5v0c0,9.6-7.9,17.5-17.5,17.5h-173 c-9.6,0-17.5-7.9-17.5-17.5v0C80,335.9,87.9,328,97.5,328z"/>
                </svg>
                <a class="logo" href="">
                    <embed type="image/svg+xml" src="../static/img/icon-c.svg" >
                </a>
                <label class="zone-name">Enter Couple</label>
                <form class="login-form">
                    <div class="username icon profile">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="password icon lock">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <p class="login-message"> </p>
                    <button class="login-btn" type="button">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>